---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="Acerca">
  <Page title="Acerca de mi">
    <p>
    Hola me llamo Marco Yahir 
    </p>

    <p>
      
    </p>

    <p>
     
    </p>

    <p>
      
    </p>
  </Page>
</Base>
